[submodule "compiler/llvm"]
	path = compiler/llvm
	url = git@github.com:LinxISA/llvm-project.git
[submodule "kernel/linux"]
	path = kernel/linux
	url = git@github.com:LinxISA/linux.git
[submodule "emulator/qemu"]
	path = emulator/qemu
	url = git@github.com:LinxISA/qemu.git
[submodule "models/pyCircuit"]
	path = models/pyCircuit
	url = git@github.com:zhoubot/pyCircuit.git
