[submodule "compiler/llvm"]
	path = compiler/llvm
	url = https://github.com/LinxISA/llvm-project.git
	branch = main
	update = checkout
[submodule "kernel/linux"]
	path = kernel/linux
	url = https://github.com/LinxISA/linux.git
	branch = master
	update = checkout
	ignore = dirty
[submodule "emulator/qemu"]
	path = emulator/qemu
	url = https://github.com/LinxISA/qemu.git
	branch = master
	update = checkout
[submodule "tools/pyCircuit"]
	path = tools/pyCircuit
	url = https://github.com/LinxISA/pyCircuit.git
	branch = main
	update = checkout
[submodule "lib/glibc"]
	path = lib/glibc
	url = https://github.com/LinxISA/glibc.git
	branch = master
	update = checkout
[submodule "lib/musl"]
	path = lib/musl
	url = https://github.com/LinxISA/musl.git
	branch = master
	update = checkout
[submodule "rtl/LinxCore"]
	path = rtl/LinxCore
	url = https://github.com/LinxISA/LinxCore.git
	branch = main
	update = checkout
[submodule "workloads/pto_kernels"]
	path = workloads/pto_kernels
	url = https://github.com/LinxISA/PTO-Kernel.git
	branch = main
	update = checkout
